@import "tailwindcss";

/* Tell Tailwind v4 where your classes live (paths are relative to this file) */
@source "../../../web/templates/**/*.html";
@source "../../../web/templates/**/*.tmpl";
@source "../../../web/static/**/*.js";

/* Optional: still load your JS config (theme/plugins) if you use it */
@config "../../../tailwind.config.js";

